{
  "presets": ["next"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "hanga": "./styleguide/components/hanga/"
        }
      }
    ]
  ]
}
